blurhash==1.1.4
certifi==2020.6.20
chardet==3.0.4
charset-normalizer==2.0.8
click==7.1.2
cssselect==1.1.0
cycler==0.10.0
decorator==4.4.2
deutschebahn==1.2.1
Flask==1.1.2
Flask-WTF==0.14.3
idna==2.9
itsdangerous==1.1.0
Jinja2==3.0.3
kiwisolver==1.2.0
lxml==4.6.4
MarkupSafe==2.0.1
Mastodon.py==1.5.1
matplotlib==3.3.2
numpy==1.19.1
oauthlib==3.1.0
Pillow==8.4.0
pyparsing==2.4.7
pyquery==1.4.1
pyserial==3.4
PySocks==1.7.1
pyTelegramBotAPI==3.7.3
python-dateutil==2.8.1
python-magic==0.4.18
pytz==2020.1
requests==2.26.0
requests-oauthlib==1.3.0
RPi.GPIO==0.7.0
six==1.15.0
spidev==3.4
termcolor==1.1.0
tweepy==3.9.0
urllib3==1.26.7
Werkzeug==1.0.1
WTForms==2.3.3
